.setupRoot{
    margin: 0 auto;
    color: white;
    width: 70%;
    /* border: solid 1px green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
}

.setupTitleRoot{
    text-align: center;
    margin: 10px;
}

.settingsRoot{
    display: flex;
    flex-direction: column;
}